<template>
    <NuxtLayout>
      <div class="block px-4 border rounded shadow">
        <div>
          <h1>Lang navigation</h1>
          <nuxt-link class="m-2 text-gray-100" :to="switchLocalePath('ja')">Japanese</nuxt-link>
          <nuxt-link class="m-2 text-gray-100" :to="switchLocalePath('en')">English</nuxt-link>
        </div>
        {{ $i18n.locale }}
      </div>

      <div class="block mt-2 border rounded shadow px-4">
        <h1>Language Switcher</h1>
        <NuxtLink
          v-for="locale in $i18n.locales"
          :key="locale.code"
          :to="switchLocalePath(locale.code)"
          class="m-2"
        >
          {{  locale.name }}
        </NuxtLink>
      </div>

      <p>Language: {{  $t('hello') }}</p>
      <header>
        <IconsMenu />
        <ul>
          <li>
            <NuxtLink 
              v-for="(item, index) in menu"
              :key="index"
              :to="item.path"
              class="text-blue-500 m-2"
            >
              {{  item.name }}
            </NuxtLink>
          </li>
        </ul>
      </header>
      <NuxtPage />
    </NuxtLayout>
</template>
<script setup>
const localePath = useLocalePath();
const switchLocalePath = useSwitchLocalePath();
import TestingComponent from '/hereweare/TestingComponent';
const nuxtApp = useNuxtApp();
nuxtApp.provide('hello', (name) => `Hello ${name}`);

const menu = [
  {
    name: 'Home',
    path: localePath('/')
  },
  {
    name: 'Event',
    path: localePath('event')
  },
  {
    name: 'Custom layout',
    path: localePath('custom')
  },
  {
    name: 'Nested component definition',
    path: localePath({ path: '/profile'})
  },
  {
    name: 'Asset Public',
    path: localePath('assets-public')
  },
  {
    name: 'Composables',
    path: localePath('Composables')
  },
  {
    name: 'Plugins',
    path: localePath('plugins')
  },
  {
    name: 'Middleware',
    path: localePath('middleware')
  },
  {
    name: 'Content module',
    path: localePath('content-module')
  },
  {
    name: 'State management',
    path: localePath('state-management')
  },
  {
    name: 'Server',
    path: localePath('server')
  },
  {
    name: 'Data fetching',
    path: localePath('data-fetching')
  },
  {
    name: 'Use Async Data',
    path: localePath('use-async-data')
  },
  {
    name: 'Search',
    path: localePath('search-api')
  },
  {
    name: 'Seo-Meta',
    path: localePath('seo-meta')
  },
  {
    name: 'Hook',
    path: localePath('hooks')
  },
  {
    name: 'Nuxt Config',
    path: localePath('nuxt-config')
  }
]
</script>
