<template>
  <div>Event detail {{  $route.params.id }}</div>
</template>

<script setup>
  const nuxtApp = useNuxtApp();
  console.log(nuxtApp.$hello('bui thanh quan'));
  const route = useRoute();
  console.log(route.params);
</script>