<template>
  <div class="block">
    <div class="border border-red-400 p-2">
      <span class="block">Assets</span>
      <img src="~/assets/imgs/1.jpg" aLt="assert image"/>
    </div>

    <div class="border border-red-400 p-2">
      <span class="block">Public</span>
      <img src="/imgs/4.jpg" aLt="public image"/>
    </div>
  </div>
</template>