<template>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" v-bind="$attrs">
    {{  title  }}
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    title: String
  }
}
</script>

<style>

</style>