<template>
  <div class="block">
    <h1 class="text-3xl">Data fetching</h1>
    <div class="block border rounded border-red-400 p-2">
      <h1 class="text-3xl">FROM API OUTSIDE (Lazy pending)</h1>
      <div v-if="pending">
          Loading ....
      </div>
      <div v-else>
        <code>
          {{  lazy_data }}
        </code>
      </div>
    </div>
    <div class="block border rounded border-red-400 p-2">
      <h1 class="text-3xl">FROM API OUTSIDE</h1>
      <div v-if="loading">
          Loading ....
      </div>
      <div v-else>
        <Button title="Refresh" class="m-2" @click="refresh"/>
        <Button title="Execute" class="m-2" @click="execute"/>

        <ul class="list-outside"> 
          <li v-for="item in posts" :key="item.id">
            {{  item.title }}
          </li> 
        </ul>
      </div>
    </div>

    <div class="block border rounded border-red-400 p-2">
      <h1 class="text-3xl">FROM API OUTSIDE (ASYNCDATA)</h1>
      <div v-if="pedingAsyncData">
          Loading ....
      </div>
      <div v-else>
        <Button title="Refresh" class="m-2" @click="freshAsync"/>

        <ul class="list-outside"> 
          <li v-for="item in dataUseAsync" :key="item.id">
            {{  item.title }}
          </li> 
        </ul>
      </div>
    </div>

    
    
    <div class="block border rounded border-blue-400 p-2 mt-5">
      <h1 class="text-3xl">FROM API OUTSIDE</h1>
      <code>
        {{ raw }}
      </code>
    </div>

    <div class="block border rounded border-green-400 p-2 mt-5">
      <h1 class="text-3xl">FROM API INSIDE SOURCE <code>/server</code></h1>
      <code>
        {{ local_posts }}
      </code>
    </div>
   
  </div>
</template>

<script setup>
const { data: local_posts  } = await useFetch('/api/posts-list', {
  transform: (_posts) => _posts.data,
});

const { data: lazy_data, pending } = await useLazyFetch('/api/posts', {
});

const { data: dataUseAsync, pending: pedingAsyncData, refresh: freshAsync  } = await useAsyncData(
  'cache_key', 
  () => $fetch('https://jsonplaceholder.typicode.com/posts'),
  {
    lazy: true,
  }
);

const { data: posts, pending: loading, execute, refresh  } = await useFetch('https://jsonplaceholder.typicode.com/posts', {
  transform: (_posts) => _posts,
  server: false,
  lazy: true
});

const raw = toRaw(posts)

</script>