<template>
  <div class="h-screen flex justify-center items-center">
    <div class="p-5 rounded bg-white text-black">
      <p>LOGIN Page</p>
      <button class="mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @click="handleLogin">
        Login
      </button>
    </div>
  </div>
</template>

<script setup>
const router = useRouter();
const { setLogin } = useAuth();

const handleLogin = () => {
  setLogin();
  router.replace({ path: '/middleware'})
}
</script>

<style>

</style>