<template>
  <div class="block">
    <h1 class="text-3xl">Nuxt Configuration</h1>
    <img :src="image" />

    <img :src="img" />
  </div>
</template>

<script setup>
import image from 'assets/imgs/1.jpg';
import img from 'public/imgs/4.jpg';
</script>

<style>

</style>