<template>
  <div class="block">
    <p>Plugins Page (check your console) </p>
    <div>{{  $sayHelloPlugin(`My string msg`) }}</div>

    <div class="text-black p-2 bg-white">
      <input 
      type="text" 
      class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" v-focus />
    </div>
  </div>
</template>
<script setup>
const { $sayHelloPlugin } = useNuxtApp();
$sayHelloPlugin(`My string msg`);
let data = $sayHelloPlugin(`My string msg`);
console.log(data);
let data2 = useNuxtApp();
console.log(data2)
</script>