<template>
  <div class="block">
    <div class="p-2 border border-red-400 rounded">
      <form @submit.prevent="handleSearch">
        <input type="search" v-model="search" class="text-black"/>
        <button class="p-2 bg-blue-600 text-white ml-2" @click="handlSearch">Search</button>
      </form>
    </div>

    <div class="block p-2">
      <table class="border-collapse table-auto w-full text-sm ">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="pending">
            <tr>
              <td colspan="5">LOADING....</td>
            </tr>
          </template>
          <template v-else>
            <tr v-for="item in products" :key="item.id">
              <td>{{  item.title }}</td>
              <td>{{  item.description }}</td>
              <td>{{  item.price }}</td>
              <td>{{  item.rate }}</td>
              <td>{{  item.stock }}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div class="flex w-full items-center justify-center p-5">
      <span v-for="item in totalPage" :key="item" class="p-2 border rounded border-red-600 m-2 cursor-pointer"
        :class="{ 'bg-white text-black': item == page}"
        @click="page = item"
      >
        {{ item }}
      </span>
    </div>

    <div class="block p-2">
      Current page: {{  page }}
    </div>
  </div>
</template>

<script setup>

const page = ref(1);
const search = ref('')

const { data, pending, refresh, execute } = await useAsyncData(
  'phones', 
  () => $fetch('/products/search', {
    method: 'GET',
    baseURL: 'https://dummyjson.com',
    params: {
      page: page.value,
      q: search.value
    },
  }, {
    server: false,
    lazy: true
  }));
let { products, limit, skip, total } = toRaw(data.value);
console.log(products)
const totalPage = computed(() => parseInt(total / limit));

const handleSearch = () => {
  execute()
}
</script> 