<template>
  <Head>
    <Title>{{ data.title }}</Title>
    <Meta name="description" :content="data.description"/>
    <Style type="text/css" children="body { background-color:  green;}"></Style>
  </Head>
  <div class="block">
    <h1 class="text-3xl">SEO - META</h1>

    <input type="text" v-model="data.description" class="text-black"/>
    {{ data.description }}
  </div>
</template>

<script setup>
definePageMeta({
  title: 'Here is defineMeta working on!'
})

var defaultValue = { 
  id: null,
  title: '',
  description: ''
}

const { data, pending, refresh } = await useFetch('https://dummyjson.com/products/1', {
  default: () => defaultValue
});
const nuxtApp = useNuxtApp();
console.log(nuxtApp)
// solution 1
// if (data) {
//   useHead({
//   title: data.value.title,
//   meta: [
//       { name: 'title', content: data.value.title },
//       { name: 'description', content: data.value.description}
//     ],
//   })
// }

watch(
  () => data,
  () => console.log('change', data.value.description),
  { deep: true}
)
</script>
