<template>
  <div class="block p-2 rounded border border-red">
    <p>Server directory</p>
    <p>Define the route api for FE <code>/server/api/hello.ts</code></p>
    <p>Should access the url: <a href="http://localhost:3000/api/hello">Check it</a></p>
    <p>Or check console with $fetch</p>
  </div>
</template>

<script setup>
const response = await $fetch('/api/hello', { });
console.log(response)
</script>