<template>
  <div class="block">
    <h1>STATE MANAGEMENT</h1>
    <div class="inline-block p-2 border m-2 text-black bg-white">
      {{  number }}
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" @click="number ++">+</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @click="number --">-</button>

    <div>
      share state to another page 
      <NuxtLink to="/profile" class="text-blue-600">Click check here</NuxtLink>
    </div>


    <div class="block rounded border border-red-400 p-2">
      Pinina State
      <p>count: {{  counterStore.doubleCount }}</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" @click="counterStore.increment()">Click increment</button>
    </div>

    <div class="block rounded border border-red-400 p-2 mt-4">
      Pinina State using ref
      <p>count: {{  refCountStore.doubleCount }}</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" @click="refCountStore.increment()">Click increment</button>
    </div>
  </div>
</template>
<script setup>
import { useCounterStore } from '@/stores/myStore';
import { useRefCounterStore } from '@/stores/refStore';
let counterStore = useCounterStore();
console.log(counterStore)
let number = useCounter(1);

let refCountStore = useRefCounterStore();


</script>