<template>
  <div class="block">
    <h1 class="text-3xl">useAsyncDAta</h1>
    <div class="block" v-if="pending">
      LOADING ...
    </div>
    <div v-else>
      <span>Count: {{ data }}</span>
    </div>
    <div>
      <Button @click="refresh" title="refresh"></Button>
      <Button @click="anotherRefresh" title="Another refresh" ></Button>
    </div>
  </div>
</template>

<script setup>
const { data, pending, refresh } = await useAsyncData('visit', () => $fetch('/api/visit'));
console.log(data)
const anotherRefresh = () => refreshNuxtData('visit');
</script>